

<footer class="footer">
  <div class="container">
    <div class="content is-text-centered">
      <p class="slogan">Maybe your best day</p>
      <p class="links">
        <%= link_to("Home", "/") %>
        <%= link_to("Concerts", concerts_path) %>
        <%= link_to("Artists", artists_path) %>
        <a href="/about">About</a>
      </p>
      <div id="social">
        <a href="https://twitter.com/mariorn_87" class="twitter-follow-button" data-show-count="true" data-lang="en">@mariorn_87</a>
      </div>
    </div>
  </div>
</footer>