

<section class="hero">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Music Concert Network
      </h1>
    </div>
  </div>
</section>


<nav class="navbar">
  <p class="navbar-item is-text-centered">
    <a class="link is-info" href="/">Home</a>
  </p>
  <p class="navbar-item is-text-centered">
    <a class="link is-info" href=  <%= concerts_path %> >Concerts</a>
  </p>

  <p class="navbar-item is-text-centered">
    <a class="link is-info" href= <%= artists_path %> >Artists</a>
  </p>
  <p class="navbar-item is-text-centered">
    <a class="button is-success" href= <%= new_concert_path %> >New Concert</a>
  </p>

</nav>



